.ahmed {
    border: 5px solid orangered;
    height: 500px;
    display: flex;
    align-items: flex-start;
    color: white;
  }
  
  .P1 {
    background-color: green;
    height: 25px;
    width: 15px;
    align-self: baseline;
    margin-top: 10px;
  }
  .P2{
    background-color: rgb(2, 10, 250);
    height: 50px;
    width: 30px;
  }
  .P3 {
    background-color: rgb(249, 2, 241);
    height: 50px;
    width: 30px;
  }
  .P4 {
    background-color: rgb(33, 22, 62);
    height: auto;
    width: 40px;
    align-self: stretch;
  }
  .P5 {
    background-color: rgb(255, 187, 0);
    height: 20px;
    width: 10px;
    align-self: center;
  }
  .P6 {
    background-color: rgba(255, 166, 0, 0.868);
    height: 50px;
    width: 30px;
  }
  .P7{
    background-color: rgb(255, 0, 0);
    height: 50px;
    width: 30px;
  }
  .P8{
    background-color: rgb(76, 76, 76);
    height: 50px;
    width: 30px;
  }
  .P9 {
    background-color: rgb(145, 254, 145);
    height: 50px;
    width: 30px;
  }
  .P10{
    background-color: rgb(24, 65, 24);
    height: 50px;
    width: 30px;
    align-self: flex-end;
  }